@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}

.particles-menu-bar {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.particles-menu-bar li {
  display: flex;
  flex: 1;
  margin: 0 4px;
}
.particles-menu-bar li button {
  display: flex;
  flex: 1;
  margin: 4px 0;
  font-size: 11px;
}

.panel-separator {
  width: 5px;
  background-color: silver;
}

.diagram-fxfx .source-target-insert {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  justify-content: space-between;
  display: flex;
}
.diagram-fxfx .source-target-insert .btn {
  opacity: 0.15;
  padding: 0 8px;
  font-size: 13px;
  transition: 0.25s all ease-in-out;
}
.diagram-fxfx .react-flow__node:hover .source-target-insert .btn {
  opacity: 1;
}
.diagram-fxfx .interpolate-list {
  display: flex;
}
.diagram-fxfx .interpolate-list .interpolate-sources {
  margin: 0 5px;
}
.diagram-fxfx .subnode-item {
  position: relative;
}
.diagram-fxfx .node-remove {
  width: 18px;
  height: 18px;
  border: none;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 0;
}
.diagram-fxfx .fan-node {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.diagram-fxfx .fan-node img {
  width: 50px;
  height: 50px;
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(157deg);
  margin: 30px;
}
.diagram-fxfx .area-box {
  background: silver;
  width: 200px;
  border-radius: 12px;
  padding: 10px;
}
.diagram-fxfx .area-box .area-box-drag {
  position: absolute;
  top: 0;
  left: -30px;
}
.diagram-fxfx .area-box .area-box-drag button {
  width: 25px;
  height: 25px;
  border-radius: 11px;
  font-size: 14px;
  cursor: move;
  padding: 0;
}
.diagram-fxfx .area-box input.form-control,
.diagram-fxfx .area-box textarea.form-control {
  background-color: #f0f0f0;
  height: 30px;
  padding: 0 10px;
}
.diagram-fxfx .react-flow__node.selected .area-box {
  background-color: #373737;
}
.diagram-fxfx .react-flow__handle {
  width: 15px;
  height: 15px;
}
.diagram-fxfx .react-flow__handle.source-handle {
  background-color: rgba(0, 128, 0, 0.558);
}
.diagram-fxfx .react-flow__handle.target-handle {
  background-color: rgba(70, 0, 128, 0.558);
}
.diagram-fxfx .lamp-node {
  background-color: yellowgreen;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 50%;
}

html[dir=rtl] .particles-menu-bar {
  left: initial;
  right: 5px;
}

#cylinder-graph {
  max-height: 200px;
}

.tank {
  position: relative;
  margin: 50px;
  width: 120px;
  height: 180px;
  background-color: #444;
  z-index: 0;
  opacity: 0.9;
}

.tank:before {
  width: 120px;
  height: 40px;
  background-color: #666;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: -16px;
  z-index: 2;
  opacity: 1;
}

.tank:after {
  width: 120px;
  height: 40px;
  background-color: #444;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: 155px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  z-index: 1;
  opacity: 1;
}

.water {
  background-color: #4589f7;
  margin: 50px;
  width: 120px;
  height: 0px;
  position: relative;
  top: -45px;
  left: 0;
  z-index: 0;
  opacity: 0.4;
}

.water:before {
  width: 120px;
  height: 40px;
  background-color: #033c99;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: -24px;
  z-index: 1;
}

.water:after {
  width: 120px;
  height: 40px;
  background-color: #033c99;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: -20px;
  z-index: 1;
}

.product {
  background-color: #f74545;
  margin: 50px;
  width: 120px;
  height: 0px;
  position: absolute;
  top: 184px;
  left: 5;
  z-index: 0;
  opacity: 0.4;
}

.product:before {
  width: 120px;
  height: 40px;
  background-color: #f70909;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: -24px;
  z-index: 1;
}

.product:after {
  width: 120px;
  height: 40px;
  background-color: #f70909;
  border-radius: 80px/25px;
  position: absolute;
  content: "";
  top: -20px;
  z-index: 1;
}

.level {
  font-size: 13px;
  margin: 0 50px 30px 50px;
  width: 120px;
  text-align: center;
}

#water-level-value {
  position: absolute;
  top: 270px;
  font-weight: bold;
  color: #4589f7;
}

#product-level-value {
  position: absolute;
  top: 300px;
  font-weight: bold;
  color: #f74545;
}/*# sourceMappingURL=diagram.css.map */