cmd/fireback/ui
test.db
uploaddir
fireback-native-mac-service
__debug_bin
fireback-arm
.DS_Store
builds
node_modules
e2e/cypress/videos
release-*
!artifacts/README.md

/fireback-project-database.db
/fireback-project.yml
/fireback-file-storage
/fireback-license.yml
*.db
artifacts/*
core/common.d.ts
core/common.js
core/common.d.ts
.DS_Store
storage/*
dist
cmd/academy-desktop/frontend
cmd/academy-desktop/build/bin
*.pkg
*.exe
.DS_Store
iotplatform/build
backend/storage/*
www/*
.cxx
*/platforms/android/app/src/main/assets/www/*
*/platforms/ios/app/src/main/assets/www/*
libacademy.h
libacademy.so
*.so
*.a
cordova/platforms/ios/www/
cmd/academy-server/ui
/academyx
*.app
ui/public/md
/react-go-dashboard
github-pages/cv
cmd/moshtariancheck-cordova/www/
cmd/moshtariancheck-cordova/platforms/android/app/src/main/assets/www
/*-configuration.yml
/esp-studio
fireback_public_repo
cmd/esp-studio-desktop/build/bin/
cmd/esp-studio-server/ui
cachemap.txt
cachemap.json
cmd/fireback-desktop/build/bin
cmd/fireback-npm/**/*/fireback
cmd/fireback-npm/**/*/fireback.exe
google-java-format.jar
*.msi
*.wixpdb
thirdparty/wix314-binaries
*.wixobj
test2
clients/react-bed/src/sdk
.env.local
.env
app
.db-journal
*.db-journal
.jsonschemas/
e2e/cypress/screenshots
