:root {
  --sidebar-purple: rgb(214, 193, 222);
  --sidebar-grey: rgb(230, 223, 230);
  --sidebar-category: rgb(162, 158, 158);
  --sidebar-items: rgb(62, 60, 60);
  --side-items-focus: rgba(79, 76, 76, 0.205);
  --sidebar-expanded-size: 185px;
}
