.key {
  position: relative;
  background-color: #f6f8f9;
  height: 200px;
  width: 200px;
  display: flexbox;
  border: solid 1px #ebebeb;
  border-radius: 10px;
  -webkit-box-shadow: 69px 46px 100px -28px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: 69px 46px 100px -28px rgba(66, 68, 90, 0.3);
  box-shadow: 19px 30px 50px -28px rgba(66, 68, 90, 0.3);

  .logo {
    padding-top: 10px;
    display: flex;
    justify-content: center;

    img {
      flex: 1;
      width: 20px;
      height: 20px;
    }
  }

  button {
    border: solid 3px;
    border-color: $tuyakeysinactive;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin: 10px;
  }

  .tuyakeyactive {
    border-color: $tuyakeysactive;
  }

  .three-controls {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tuya-device-label {
    text-align: center;
    display: block;
    padding-top: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
  }

  .four-controls {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 25px);
    grid-template-rows: repeat(2, 25px);
    grid-gap: 30px;
    place-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
