.app-mock-version-notice {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 16px;
  background-color: rgb(194 81 35 / 63%);
  color: white;
  z-index: 99999;
  font-size: 10px;
  pointer-events: none;
}
