$sidebarpurple: rgb(214, 193, 222);
$sidebargrey: rgb(230, 223, 230);
$sidebarcategory: rgb(162, 158, 158);
$sidebaritems: rgb(62, 60, 60);
$sideitemsfocus: rgba(79, 76, 76, 0.205);
$sidebarExpandedSize: 185px;
